.logo-small {
	max-height: 34px;
}

.logo-small-width {
	max-width: 34px;
}

.card {
	.team-logo {
		height: 120px;
		margin: 20px;
	}
}

.select {
	width: 100%;
	select {
		width: 100%;
	}
}

.no-top-padding {
	padding-top: 0;
}