.vertical-middle {
	align-items: center;
}

.table th {
	text-align: center;
}

.table td {
	vertical-align: middle;
}

.text-center {
	text-align: center;
}

.box {
	.columns {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.columns:last-child {
		margin-bottom: 0;
	}
}


@media screen and (max-width: 768px) {
	.flex-mobile {
		display: flex;
	}
}