.vertical-middle {
	align-items: center;
}

.table th {
	text-align: center;
}

.table td {
	vertical-align: middle;
}

.text-center {
	text-align: center;
}

.mt {
	margin-top: .75rem;
}

.mb {
	margin-bottom: .75rem;
}

.mt-2 {
	margin-top: 2rem;
}

.box {
	.columns {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.columns:last-child {
		margin-bottom: 0;
	}
}

.margin-left {
	margin-left: .75rem;
}
.margin-right {
	margin-right: .75rem;
}

.select {
	width: 100%;
	select {
		width: 100%;
	}
}

.no-top-padding {
	padding-top: 0;
}

.fixture-table {
	.team-logo {
		width: 15%;
	}

	.team-name {
		width: 30%;
	}

	.person-name {
		width: 15%;
	}

	.disabled {
		opacity: 0.2;
	}

	tr.is-success {
		background-color: $success;
	}

	tr.is-warning {
		background-color: $warning;
	}

	tr.is-danger {
		background-color: $danger;
	}
}

@media screen and (max-width: 768px) {
	.flex-mobile {
		display: flex;
	}

	.fixture-table {
		.team-name {
			width: 35%;
		}

		.person-name {
			width: 20%
		}
	}
}